.catpics {
  height: 60%;
  width: 60%;
  padding-top: 10px;
  border-radius: 50%;
}

.catContainer {
  text-align: center;
  background-color: #fee8a0;
  padding: 10px 525px 0 525px;
}

.catcontent {
    /* border: 1px solid black; */
}

.button1,
.button2 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #fee8a0  0, #545454 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #1e1d1d;
  cursor: pointer;
  display: inline-flex;
  font-family: fredoka one;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin-bottom: 8px;
}

.btn {
  display: flex;

}