.footer {
  background-color: #545454;
  height: 100px;
  color: #fee8a0;
  padding-left: 10px;
  text-align: center;
  margin-top: auto;
  position: sticky;
  font-family: fredoka one;
  font-weight: bold;

}

.p {
  padding-top: 6px;
}