.header {
  background-color: #545454;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo img {
  height: 150px;
  margin: -20px 0 0 10px;
  /* yellow color #fee8a0 */
}

.nav-bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: #fee8a0;
  margin-right: 30px;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20%;
  font-weight: bold;
}